<h1>Finder#index</h1>
<p>Find me in app/views/finder/index.html.erb</p>

<table>
<% @feed.routes.sort_by {|a| a.route_short_name.to_i}.each do |a| %>
    <tr>
        <td><%= a.route_short_name %></td>
        <td><%= a.route_long_name %></td>
    </tr>
<% end %>
</table>